/* ================================= 
  Base Element Styles
==================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.wrapper {
    margin: 0 auto;
    width: 80%;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header{
    background-color: rgba(232, 99, 78, 1);
}


/* ================================= 
 	Page Elements
==================================== */
.logo a{
    font-family: 'Pacifico', cursive;
    color: white;
}

/* ---- Navigation ---- */

.main-nav a{
    color: white;
    margin-right: 5px;
    padding: 5px;
    font-size: 1.2rem;
}

.main-nav a:last-child{Alternate Text
Hello I'm 
    margin-right: 0;
}

.main-nav i{
    margin-right: 3px;
}
.banner-avatar {
    border-radius: 50%;
    width: 50vw;
    height: 50vw;
}
.banner-wrapper {
    outline: 1px solid red;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 40px 0;
}
.banner-caption {
    position: absolute;
    bottom: 70px;
    font-family: 'Josefin Slab', serif;
    color: #e7624d;
    text-align: center;
}
.banner-heading {
    font-size: 4.5vw;
    margin-bottom: 20px;
}

.qwerty{
    font-size: 3vw;
}
          /*section*/
.about-me {
    background-color : #e5e2d3;
    color: #e7624d;
}
.about-wrapper{
    padding: 40px 0;
}
.heading-line{
    border-bottom: 2px solid lightgray;
    line-height: 0;
    text-align: center;    
}
.about{
    background: #e5e2d3;
    display: inline;
    padding: 0 15px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col{
    flex: 1 0 250px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.col-heading {
    text-transform: uppercase;
    border-bottom: 1px solid #e7624d;
    margin: 15px 10px;
    font-family: 'Josefin Slab', serif;
    font: lighter 1.2rem 'Josefin Slab', serif;
}
.col p {
    line-height: 19px;
    font-size: 14px;
    text-align: center;
}
.btn {
    display: block;
    padding: 10px 20px;
    margin: 10px auto;
    background-color: red;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}
.games-conteiner{
    background-color: #e5e2d3;
    color: #e7624d;
}
.score{
    text-align: center;
    color: white;
}
.spawn{
    background: rgba(255,255,255,0.3);
    padding: 5px 20px;
    border-radius: 10px;
}
.picture2 {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 70%;
    margin: 0 auto;
}
.picture {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 500px;
    background: url(img/bg.svg) no-repeat;
    background-size: cover;
}
.hole {
    flex: 1 0 33.33%;
    overflow: hidden;
    position: relative;
}
.main-footer {
    background-color: #2d4751;
}
.main-footer *{
    color: white;

}
.main-footer .col-heading{
    text-decoration: none;
    border-color:  #fff;
}
.main-footer address{
    line-height:  1.6rem;
}
.form-wrapper{
    display: flex;
}
.item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 15px;
}
.address1 a{
    display: block;

}
p {
    display: block;

} 
.form-btn{
    padding: 5px 20px;
    margin-top: 5px;
    background-color: rgba(232, 99, 78, 1);
    align-self: flex-end;
}
.item-wrapper input{
    padding: 5px 15px;
}
.user-from{
    text-align: right;
}

.form-item{
    color: black;
}